.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navHead h2 {
  color: white;
}

.navHead {
  display: flex;
  align-items: center;
  background-color: blue;
}
input{
  display:block;
}

.product_card {
  width: 185px;
  height: auto;
  border: 1px solid black;
}
.product_main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  width: 70%;
}
.product_image{
  width: 100%;
  height: 135px;
}
.product-center {
  /* width: 70%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  flex-direction: row-reverse;
}
